<div class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-gray-900 text-white shadow-lg">
<div class="sidebar-icon group">
  <mat-icon class="mat-18">favorite</mat-icon>
  <span class="sidebar-tooltip group-hover:scale-100">Tooltip</span>
</div>
<div class="sidebar-icon group">
  <mat-icon class="mat-18">favorite</mat-icon>
   <span class="sidebar-tooltip group-hover:scale-100">Tooltip</span>
</div>
<div class="sidebar-icon group">
  <mat-icon class="mat-18">favorite</mat-icon>
   <span class="sidebar-tooltip group-hover:scale-100">Tooltip</span>
</div>
<div class="sidebar-icon group">
  <mat-icon class="mat-18">favorite</mat-icon>
   <span class="sidebar-tooltip group-hover:scale-100">Tooltip</span>
</div>
<div class="sidebar-icon group">
  <mat-icon class="mat-18">favorite</mat-icon>
   <span class="sidebar-tooltip group-hover:scale-100">Tooltip</span>
</div>
</div>
