<div class="flex text-white font-bold">
  <header class="w-1/5 min-h-screen bg-blue-400 p-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, debitis.----
  </header>
  <section class="w-3/5 bg-blue-700 p-5">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, numquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magni aspernatur quisquam nam tempora quia velit
      quae ratione. Corrupti, ex.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ducimus quis non aperiam error rerum.</p>
  </section>
  <section class="w-1/5 bg-blue-200 p-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ad culpa, quam labore impedit, perferendis cupiditate
    error quisquam illo adipisci cumque facere? Autem aliquid facilis necessitatibus sunt iure dolore nobis.
  </section>
</div>
